.grid {
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.movie {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 300ms;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  height: 450px;
  position: relative;
  transition: 500ms ease;
  bottom: 0px;
}

.movie:hover {
  bottom: 15px;
}

.movieImage {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 5px;
}

.movieOverlay {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movieTitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

.buttonMovie {
  background-color: #f3c623;
  border: none;
  padding: 6px;
  color: black;
  box-sizing: border-box;
  left: 10px;
  right: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  transition: 500ms ease;
}

.buttonMovie:hover {
  background-color: #b1911f;
}

@media (min-width: 640px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}
