.container {
  background-color: #f3c623;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 525px) {
  .container {
    width: 90%;
    text-align: center;
  }
}
